*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Shuttle";
  src: url(./assets/fonts/SHUTTLE-X.ttf) format("truetype");
}
@font-face {
  font-family: "BlenderProBook";
  src: url(./assets/fonts/Blender-Pro-Book.otf) format("opentype");
}
@font-face {
  font-family: "Refinery25";
  src: url("./assets/fonts/refinery-25-bold.ttf") format("truetype");
}
body {
  background-color: rgb(0, 15, 15);
  overflow-x: hidden;
  font-family: "BlenderProBook", sans-serif;
  color: #fff;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/image/dots-top-menu-mobile.png), url(./assets/image/dots-bottom-menu-mobile.png);
  background-position: 12px 12px, 12px calc(100% - 12px);
  background-repeat: repeat-x, repeat-x;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  z-index: 999;
  top: 0;
}

.brand {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;
}

.brand h3 {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Shuttle", sans-serif;
}

header a {
  -webkit-text-stroke: 0.5px #fd0130;
}

.burgerbox {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  left: calc(95% - 1.5rem);
  top: calc(30% + 0.5rem);
  cursor: pointer;
  z-index: 1;
  transition: all 2s;
}

.burger {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fd0130;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.burger:nth-child(1) {
  top: 50%;
}

.burger:nth-child(2) {
  top: 25%;
}

.burger:nth-child(3) {
  top: 75%;
}

.burgerbox.cross .burger:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.burgerbox.cross .burger:nth-child(2) {
  opacity: 0;
}

.burgerbox.cross .burger:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  padding: 4.5rem 0;
}
.menu ul .colormod {
  display: flex;
  left: 0;
  transform: translateY(-490px);
  width: calc(95vw - 2rem);
}

li {
  list-style: none;
  font-size: 1rem;
  margin: 4rem 1rem 0 1.5rem;
  width: 0;
  overflow: hidden;
  transition: all 1s;
}

.open {
  background: rgb(0, 15, 15);
  overflow: hidden;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  background-image: url(./assets/image/dots-top-menu-mobile.png), url(./assets/image/dots-bottom-menu-mobile.png);
  background-position: 12px 12px, 12px calc(100% - 12px);
  background-repeat: repeat-x, repeat-x;
}

@keyframes slide {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(63vw);
  }
}
@keyframes rslide {
  0% {
    opacity: 0;
    transform: translateX(65%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 1280px) {
  .brand {
    justify-content: start;
    text-align: start;
    left: 1.5rem;
    top: 1.5rem;
  }
  .burgerbox {
    display: none;
  }
  .menu ul {
    flex-direction: row;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #fcee0a;
    display: flex;
    width: 600px;
    height: 40px;
    top: 2.5rem;
    right: 40px;
    padding: 0 20px 0 20px;
    align-items: center;
  }
  .menu ul li {
    margin: auto;
    font-size: 19px;
    width: auto;
    padding: 0 30px;
  }
  .menu ul .colormod {
    width: 0;
    margin: auto;
    padding: 0 45px;
    text-align: center;
    transform: translate(0 10px);
  }
}
main {
  min-height: 100vh;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.main-content {
  padding-top: 8.5rem;
  width: 100%;
}

.main-container {
  background: linear-gradient(rgb(0, 15, 15), #fd0130);
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1rem;
}
.presentation:after {
  background-image: url(./assets/image/separator.svg);
  background-position: 50%;
  bottom: -2%;
  content: "";
  height: 21px;
  left: 0;
  position: absolute;
  width: 100%;
}

.boxglitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4rem;
  width: 80%;
  height: 30vh;
  border: 2px solid rgba(0, 0, 0, 0);
  background: conic-gradient(from 90deg at top 2px left 2px, rgba(0, 0, 0, 0) 90deg, #fcee0a 0) 0 0/15% 20% border-box no-repeat, conic-gradient(from 180deg at top 2px right 2px, rgba(0, 0, 0, 0) 90deg, #fcee0a 0) 100% 0/15% 20% border-box no-repeat, conic-gradient(from 0deg at bottom 2px left 2px, rgba(0, 0, 0, 0) 90deg, #fcee0a 0) 0 100%/15% 20% border-box no-repeat, conic-gradient(from -90deg at bottom 2px right 2px, rgba(0, 0, 0, 0) 90deg, #fcee0a 0) 100% 100%/15% 20% border-box no-repeat;
}

.glitch {
  position: relative;
  -webkit-text-stroke: 1.5px #fd0130;
  color: #fff;
  font-family: "Shuttle", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-text-stroke: 1.5px #fd0130;
  background: linear-gradient(#1f0d13, #4c0b19);
  color: #fff;
  clip: rect(0, 9900px, 0, 0);
}
.glitch::before {
  left: 7;
  text-shadow: 1px 5 rgb(4, 201, 250);
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 rgb(113, 247, 4);
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

h1 {
  font-size: clamp(30px, 13vw, 50px);
}

.description {
  padding-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #fff;
}

.btn-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  width: 100%;
  height: 3rem;
  gap: 2.2rem;
}

.btn-box .btn {
  background-color: rgb(0, 15, 15);
  border: 1px solid #fcee0a;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 144px;
  height: 100%;
  font-family: "Refinery25", sans-serif;
  transition: opacity 0.2s;
}
.btn-box .btn:hover {
  opacity: 0.8;
}

.cv {
  clip-path: polygon(0 0, 100% 0, 100% 39px, 135px 100%, 0 100%);
}
.cv:after {
  border-right: 10px solid #fcee0a;
  border-top: 10px solid transparent;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
  right: -1px;
  right: -1px;
}

.contact {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 9px 100%, 0 39px);
}
.contact:after {
  border-left: 10px solid #fcee0a;
  border-top: 10px solid transparent;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
  left: -1px;
  right: -1px;
}

.socials {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 5rem;
  gap: 50%;
}

.social-logo {
  height: 50px;
  width: 50px;
  background-color: transparent;
  fill: rgb(0, 15, 15);
}
.social-logo:hover {
  opacity: 0.8;
}

.bl {
  animation: blink 1s linear infinite;
}

@keyframes glitch-effect {
  0% {
    clip: rect(82px, 9999px, 87px, 0);
  }
  5% {
    clip: rect(100px, 9999px, 7px, 0);
  }
  10% {
    clip: rect(23px, 9999px, 46px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 49px, 0);
  }
  20% {
    clip: rect(18px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(96px, 9999px, 29px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 24px, 0);
  }
  35% {
    clip: rect(30px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(37px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 92px, 0);
  }
  50% {
    clip: rect(5px, 9999px, 52px, 0);
  }
  55% {
    clip: rect(76px, 9999px, 17px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(80px, 9999px, 81px, 0);
  }
  80% {
    clip: rect(81px, 9999px, 33px, 0);
  }
  85% {
    clip: rect(3px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(3px, 9999px, 18px, 0);
  }
  95% {
    clip: rect(61px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 51px, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
.Projets {
  overflow: hidden;
  width: 100vw;
  position: relative;
}

.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  width: 100vw;
  -webkit-text-stroke: 1px #fd0130;
  font-family: "Refinery25", sans-serif;
  color: #fff;
}

.swiper {
  margin-top: 2em;
  display: flex;
  height: 25rem;
  width: 100vw;
  max-width: 1640px;
  justify-content: center;
}

.slides {
  background-color: rgb(0, 15, 15);
}

.slide-img {
  background-color: rgb(0, 15, 15);
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}
.slide-img img {
  width: 90%;
  height: 60%;
  object-fit: cover;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%, 0 81%);
}

.voir {
  position: absolute;
  background-color: #4bff20;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Refinery25", sans-serif;
  transition: opacity 0.2s;
  width: 61px;
  height: 61px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%, 0 81%);
}
.voir a {
  color: rgb(0, 15, 15);
}

.pagination {
  margin-bottom: 5em;
  position: relative;
}

.swipe-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100vw;
  align-items: center;
  align-self: center;
}

.swiper-button-prev, .swiper-button-next {
  background: #4bff20;
  cursor: pointer;
  margin: 8px;
  min-width: 144px;
  padding: 11px 28px;
  position: relative;
}
.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}
.swiper-button-prev p, .swiper-button-next p {
  color: #fff;
}

.competences {
  background: linear-gradient(#fd0130, rgb(0, 15, 15));
  margin-top: 85px;
  margin-bottom: 8.5rem;
}
.competences:before {
  background-image: url(./assets/image/separatorB.svg);
  background-position: 50%;
  content: "";
  height: 21px;
  left: 0;
  position: absolute;
  width: 100%;
}

.competence-container {
  overflow: hidden;
  margin: 5%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  border: 1px solid #fcee0a;
  margin: 2rem;
  height: 30vh;
}

.logo > img {
  width: 20%;
  height: 30%;
  justify-content: center;
}
.logo > img:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
