*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Shuttle";
  src: url(./assets/fonts/SHUTTLE-X.ttf) format("truetype");
}
@font-face {
  font-family: "BlenderProBook";
  src: url(./assets/fonts/Blender-Pro-Book.otf) format("opentype");
}
@font-face {
  font-family: "Refinery25";
  src: url("./assets/fonts/refinery-25-bold.ttf") format("truetype");
}
body {
  background-color: rgb(0, 15, 15);
  overflow-x: hidden;
  font-family: "BlenderProBook", sans-serif;
  color: #fff;
  display: flex;
  width: 100%;
  padding: 40px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8%;
  z-index: 999;
}

.brand {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;
}

.brand h3 {
  cursor: pointer;
  font-size: 2rem;
  font-family: "Shuttle", sans-serif;
}

header a {
  -webkit-text-stroke: 0.5px #fd0130;
}

.burgerbox {
  font-size: 1.5rem;
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  left: 90%;
  top: 30%;
  cursor: pointer;
  z-index: 1;
  transition: all 2s;
}

.burger {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fd0130;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.burger:nth-child(1) {
  top: 50%;
}

.burger:nth-child(2) {
  top: 25%;
}

.burger:nth-child(3) {
  top: 75%;
}

.burgerbox.cross .burger:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.burgerbox.cross .burger:nth-child(2) {
  opacity: 0;
}

.burgerbox.cross .burger:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.menu ul {
  display: flex;
  flex-direction: column;
  width: 0;
  overflow: hidden;
  transition: all 1s;
  position: absolute;
  right: 0;
  padding: 1rem 0;
  min-height: 100vh;
}

li {
  list-style: none;
  font-size: 1rem;
  margin: 4rem 1rem 0 1.5rem;
}

.open {
  background: rgb(0, 15, 15);
  overflow: hidden;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  background-image: url(./assets/image/dots-top-menu-mobile.png), url(./assets/image/dots-bottom-menu-mobile.png);
  background-position: 12px 12px, 12px calc(100% - 12px);
  background-repeat: repeat-x, repeat-x;
}

@keyframes slide {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(63vw);
  }
}
@keyframes rslide {
  0% {
    opacity: 0;
    transform: translateX(65%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
main {
  z-index: 2;
  min-height: 100vh;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  position: relative;
  padding-top: 8.5rem;
  overflow: hidden;
  background-image: url(./assets/image/dots-top-menu-mobile.png), url(./assets/image/dots-bottom-menu-mobile.png);
  background-position: 12px 12px, 12px calc(100% - 12px);
  background-repeat: repeat-x, repeat-x;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1rem;
}

.anim {
  animation: slide-in-left 1s ease-in-out both;
}

.boxglitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4rem;
  width: 80%;
  height: 30vh;
  animation: scale-in 1.5s ease-in-out both;
  border: 2px solid rgba(0, 0, 0, 0);
  background: conic-gradient(from 90deg at top 2px left 2px, rgba(0, 0, 0, 0) 90deg, #fd0130 0) 0 0/15% 20% border-box no-repeat, conic-gradient(from 180deg at top 2px right 2px, rgba(0, 0, 0, 0) 90deg, #fd0130 0) 100% 0/15% 20% border-box no-repeat, conic-gradient(from 0deg at bottom 2px left 2px, rgba(0, 0, 0, 0) 90deg, #fd0130 0) 0 100%/15% 20% border-box no-repeat, conic-gradient(from -90deg at bottom 2px right 2px, rgba(0, 0, 0, 0) 90deg, #fd0130 0) 100% 100%/15% 20% border-box no-repeat;
}

.glitch {
  position: relative;
  -webkit-text-stroke: 1.5px #fd0130;
  color: #fff;
  font-family: "Shuttle", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-text-stroke: 1.5px #fd0130;
  background: rgb(0, 15, 15);
  color: #fff;
  clip: rect(0, 9900px, 0, 0);
}
.glitch::before {
  left: 7;
  text-shadow: 1px 5 rgb(4, 201, 250);
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 rgb(113, 247, 4);
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

h1 {
  font-size: clamp(30px, 13vw, 50px);
}

.description {
  padding-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #fff;
}

.btn-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
  height: 3rem;
  gap: 2.2rem;
}

.btn-box .btn {
  background-color: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 9rem;
  height: 100%;
  font-family: "Refinery25", sans-serif;
  transition: opacity 0.2s;
}
.btn-box .btn:hover {
  opacity: 0.8;
}

.cv:after {
  border-right: 10px solid rgb(0, 15, 15);
  border-top: 10px solid transparent;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
  right: -1px;
}

.contact:after {
  border-left: 10px solid rgb(0, 15, 15);
  border-top: 10px solid transparent;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
  left: -1px;
}

.socials {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 4rem;
  gap: 50%;
}

.social-logo {
  height: 50px;
  width: 50px;
  background-color: transparent;
  fill: #fd0130;
}
.social-logo:hover {
  opacity: 0.8;
}

.bl {
  animation: blink 1s linear infinite;
}

@keyframes glitch-effect {
  0% {
    clip: rect(76px, 9999px, 89px, 0);
  }
  5% {
    clip: rect(94px, 9999px, 1px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 82px, 0);
  }
  15% {
    clip: rect(64px, 9999px, 1px, 0);
  }
  20% {
    clip: rect(93px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(62px, 9999px, 9px, 0);
  }
  35% {
    clip: rect(3px, 9999px, 22px, 0);
  }
  40% {
    clip: rect(58px, 9999px, 45px, 0);
  }
  45% {
    clip: rect(56px, 9999px, 80px, 0);
  }
  50% {
    clip: rect(69px, 9999px, 73px, 0);
  }
  55% {
    clip: rect(23px, 9999px, 32px, 0);
  }
  60% {
    clip: rect(51px, 9999px, 61px, 0);
  }
  65% {
    clip: rect(57px, 9999px, 33px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 85px, 0);
  }
  75% {
    clip: rect(4px, 9999px, 38px, 0);
  }
  80% {
    clip: rect(39px, 9999px, 84px, 0);
  }
  85% {
    clip: rect(3px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(50px, 9999px, 51px, 0);
  }
  95% {
    clip: rect(32px, 9999px, 43px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 48px, 0);
  }
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
section.projets {
  overflow: hidden;
}

.section-title {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  width: 100vw;
  -webkit-text-stroke: 1px #fd0130;
  font-family: "Refinery25", sans-serif;
  color: #fff;
}

.sliders-container {
  max-width: 1120px;
  width: 100%;
  padding: 0 40px;
  background-color: blue;
}

.swipe-content {
  margin: 0 40px;
  background-color: red;
}

.pagination {
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.next:after {
  border-right: 10px solid rgb(0, 15, 15);
  border-top: 10px solid transparent;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
  right: -1px;
  position: absolute;
}

.prev:after {
  border-left: 10px solid rgb(0, 15, 15);
  border-top: 10px solid transparent;
  bottom: 0;
  content: "";
  height: 10px;
  position: absolute;
  width: 10px;
  left: -1px;
}

.swipe-btn {
  align-items: center;
  background: #4bff20;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-width: 144px;
  position: relative;
  width: 100%;
  height: 100%;
}

.competences {
  margin-top: -10%;
}

.competence-container {
  overflow: hidden;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  border: 1px solid #00f0ff;
  margin: 2rem;
  height: 30vh;
}

.logo > img {
  width: 20%;
  height: 30%;
  justify-content: center;
}
.logo > img:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
