@use "default" as v;
.competences {
    background: linear-gradient(var(--data-color-r), v.$secondcolor);
    margin-bottom: 8.5rem;
    &:before {
        background-image: url(./assets/image/separatorB.svg);
        background-position: 50%;
        content: "";
        height: 21px;
        left: 0;
        position: absolute;
        width: 100%;
        margin-top: -1px;
        
    }
    .section-title {
        color: var(--data-color-primary);
    }
}
.competence-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    height: 30vh;
    background-color: rgba(0, 15, 15, .4);
    background:
    conic-gradient(from 90deg at top 2px left 2px, #0000 90deg, v.$darkcolor  0) 0 0 / 25px 25px border-box no-repeat,
    conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, v.$darkcolor 0) 100% 0 / 25px 25px border-box no-repeat,
    conic-gradient(from 0deg at bottom 2px left 2px, #0000 90deg, v.$darkcolor 0) 0 100% / 25px 25px border-box no-repeat,
    conic-gradient(from -90deg at bottom 2px right 2px, #0000 90deg, v.$darkcolor 0) 100% 100% / 25px 25px border-box no-repeat;
    max-width: 760px;
}
.logo > img {
    width: 20%;
    height: 30%;
    justify-content: center;
    &:hover {
        transform: scale(1.1);
    }
    
}

@media(min-width: 1280px) {
    .logo:nth-child(odd) {
        margin-right: calc(60% - 30rem);
    }
    .logo:nth-child(even) {
        margin-left: calc(60% - 30rem);
    }
}