$primecolor: #fff;
$secondcolor: rgb(0, 15, 15);
$lightstroke:#00f0ff;
$darkstroke: #fd0130;
$size: 10px;

// $primarycolor: #eaedf0;
// $secondarycolor: #0d1822;
$bordershadow: 2px 0.5px 4px rgba(0, 0, 0, 0.15);
$neonshadow: 0 0 5px rgb(12, 176, 221),
0 0 15px rgb(12, 176, 221),
0 0 20px rgb(12, 176, 221),
0 0 40px rgb(12, 176, 221),
0 0 25px rgb(84, 190, 220),
0 0 10px rgb(12, 176, 221),
0 0 12px rgb(84, 190, 220);
$steps: 20;
$font-title: 'Refinery25', sans-serif;
$font-main: 'BlenderProBook', sans-serif;
$font-logo: 'Shuttle', sans-serif;

@mixin arrow($colour, $direction:"") {
        border-#{$direction}: 10px solid $colour;
        border-top: 10px solid transparent;
        bottom: 0;
        content: "";
        height: 10px;
        position: absolute;
        width: 10px;
        #{$direction}: 0;
        @if($direction: left) {
            right: -1px;
        }
}


*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Shuttle';
    src: url(./assets/fonts/SHUTTLE-X.ttf) format('truetype');
}
@font-face {
    font-family:  "BlenderProBook";
    src: url(./assets/fonts/Blender-Pro-Book.otf) format('opentype');
}
@font-face {
    font-family: "Refinery25";
    src: url('./assets/fonts/refinery-25-bold.ttf') format('truetype');
}
body {
    background-color: $secondcolor;
    overflow-x: hidden;
    font-family: $font-main;
    color: $primecolor;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: $primecolor;
}