$primecolor: #fff;
$secondcolor: #222;
$darkcolor: #000;
$yellow:#fcee0a;
$red: #fd0130;
$projcol : #4bff20;
$Ytheme : #00f0ff;
$glitch1:#361f24;
$glitch2: #611826;
// $glitch1-2: #343320;
// $glitch2-2: #5a561c;
$steps: 20;
$font-title: 'Refinery25', sans-serif;
$font-main: 'BlenderProBook', sans-serif;
$font-logo: 'Shuttle', sans-serif;
$bgy: url(./assets/image/separatorY.svg);
$bgr : url(./assets/image/separator.svg);

//Mixin pour mettre un carré coupé en deux pour les angles
@mixin arrow($colour, $direction:"") {
        border-#{$direction}: 10px solid $colour;
        border-top: 10px solid transparent;
        bottom: 0;
        content: "";
        height: 10px;
        position: absolute;
        width: 10px;
        #{$direction}: -1px;
        @if($direction: left) {
            right: -1px;
        }
        
}
*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Shuttle';
    src: url(./assets/fonts/SHUTTLE-X.ttf) format('truetype');
}
@font-face {
    font-family:  "BlenderProBook";
    src: url(./assets/fonts/Blender-Pro-Book.otf) format('opentype');
}
@font-face {
    font-family: "Refinery25";
    src: url('./assets/fonts/refinery-25-bold.ttf') format('truetype');
}
:root{ 
    --data-color-primary: #{$primecolor};
    --data-color-secondary: #{$secondcolor};
    --data-color-y: #{$yellow};
    --data-color-lang : #{$yellow};
    --data-color-r: #{$red};
    --data-color-c : #{$Ytheme};
    --data-bgcolr : #{$bgr};
    --data-bgcoly : #{$bgy};
    --data-colglitch1 : #{$glitch1};
    --data-colglitch2 : #{$glitch2};
    --data-color-menu : #{$yellow};
}
body {
    background-color: var(--data-color-secondary);
    overflow-x: hidden;
    font-family: $font-main;
    color: var(--data-color-primary);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/image/dots-top-menu-mobile.png),url(./assets/image/dots-bottom-menu-mobile.png);
    background-position: 12px 12px,12px calc(100% - 12px);
    background-repeat: repeat-x,repeat-x;
}
a {
    text-decoration: none;
    color: var(--data-color-primary);
}
.yellow {
    --data-color-primary: var(--data-color-secondary);
    --data-color-r: var(--data-color-y);
}
.border {
    --data-color-y: var(--data-color-c);
    p {
        color: $Ytheme;
    }
}

.change {
    --data-color-y : var(--data-color-c);
}
