@use "default" as v;
header {
    display: flex;
    background-color: v.$primecolor;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    z-index: 999;
    box-shadow: v.$bordershadow;
}
.brand {
    -webkit-text-stroke: 1px v.$lightstroke;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform .5s;
    animation: rslide 1s forwards;
    padding: 1.5rem;
    left: 2rem;
    font-family: v.$font-title;
}
header a {
    -webkit-text-stroke: 1px v.$lightstroke;
    color: v.$secondcolor;
    text-shadow: v.$neonshadow
}

.burgerbox {
    font-size: 1.5rem;
    display: inline-block;
    width: 25px; 
    height: 20px;
    position: absolute;
    left: 90%;
    top: 35%;
    cursor: pointer;
    z-index: 1;
    transition: all 1s;
}
.burger {
    display: block;
    width: 100%; 
    height: 2px;
    background-color: v.$secondcolor;
    box-shadow: v.$neonshadow;
    position: absolute;
    left: 0;
    transition: all .3s ease;
    cursor: pointer;
}
.burger:nth-child(1) {
    top: 0;
}
.burger:nth-child(2) {
    top: 50%;
}
.burger:nth-child(3) {
    top: 100%;
}
.burgerbox.cross .burger:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}
.burgerbox.cross .burger:nth-child(2) {
    opacity: 0;
}
.burgerbox.cross .burger:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}
.menu ul
{
    display: flex;
    justify-content: space-evenly;
    width: 0;
    overflow: hidden;
    transition: all 1s;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 1rem 0;
    background-color: v.$primecolor;
    box-shadow: 2px 0.5px 4px rgba(0, 0, 0, 0.15);
}
li {
    list-style: none;
    font-size: .8rem;
}
.active {
    animation: slide 1s ease-in-out forwards;
}
@keyframes slide {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(63vw);
    }
}
@keyframes rslide {
    0% {
        opacity: 0;
        transform: translateX(65%);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
