@use "default" as v;
main {
    min-height: 100vh;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.main-content {
    padding-top: 8.5rem;
    width: 100%;
}
.main-container {
    background: linear-gradient(v.$secondcolor, v.$darkstroke);
}
.presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1rem;
    &:after {
            background-image: url(./assets/image/separator.svg);
            background-position: 50%;
        bottom: -2%;
        content: "";
        height: 21px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}
.boxglitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 4rem;
    width: 80%;
    height: 30vh;
    border: 2px solid #0000;
    background:
    conic-gradient(from 90deg at top 2px left 2px, #0000 90deg, v.$lightstroke 0) 0 0 / 15% 20% border-box no-repeat,
    conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, v.$lightstroke 0) 100% 0 / 15% 20% border-box no-repeat,
    conic-gradient(from 0deg at bottom 2px left 2px, #0000 90deg, v.$lightstroke 0) 0 100% / 15% 20% border-box no-repeat,
    conic-gradient(from -90deg at bottom 2px right 2px, #0000 90deg, v.$lightstroke 0) 100% 100% / 15% 20% border-box no-repeat;
}
.glitch {
    position: relative;
    -webkit-text-stroke: 1.5px v.$darkstroke;
    color: v.$primecolor;
    font-family: v.$font-logo;
    font-weight: 600;
    letter-spacing: 0.01em;
    transform: scale3d(1,1,1);
    &::before,
    &::after {
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        -webkit-text-stroke:1.5px v.$darkstroke;
        background: linear-gradient(#1f0d13, #4c0b19);
        color: v.$primecolor;
        clip: rect(0, 9900px, 0, 0);
    }
    &::before {
        left: 7;
        text-shadow: 1px 5 rgb(4, 201, 250);
        animation: glitch-effect 3s infinite linear alternate-reverse;
    }
    &::after {
        left: 3px;
        text-shadow: -1px 0 rgb(113, 247, 4);
        animation: glitch-effect 2s infinite linear alternate-reverse;
    }
}
h1 {
    font-size: clamp(30px, 13vw, 50px);
}
.description{
    padding-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    color: v.$primecolor;
}

.btn-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    height: 3rem;
    gap: 2.2rem;
}
.btn-box .btn {
    background-color: v.$secondcolor;
    border: 1px solid v.$lightstroke;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 144px;
    height: 100%;
    font-family: v.$font-title;
    transition: opacity .2s;
        &:hover {
            opacity: 0.8;
        }
}
 .cv{
    clip-path: polygon(0 0, 100% 0, 100% 39px, 135px 100%, 0 100%);
&:after {
         @include v.arrow(v.$lightstroke, right)
 }
}
 .contact{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 9px 100%, 0 39px);
     &:after {
        @include v.arrow(v.$lightstroke, left);
     }
 }
.socials {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 5rem;
    gap: 50%;
}
.social-logo {
    height: 50px;
    width: 50px;
    background-color: transparent;
    fill: v.$secondcolor;
    &:hover {
        opacity: 0.8;
    }
}
.bl {
    animation: blink 1s linear infinite;
}
@keyframes glitch-effect{ 
    @for $i from 0 through v.$steps{
        #{percentage($i*calc(1/v.$steps))}{
            clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}
@keyframes blink {
    0%  {
        opacity:100%;
    }
    50% {
        opacity:0%; 
    }
}

