@use "default" as v;
section.projets {
    overflow: hidden;
}
.section-title {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    width: 100vw;
    -webkit-text-stroke: 1px v.$darkstroke;
    font-family: v.$font-title;
    color: v.$primecolor;
}
.sliders-container {
    max-width: 1120px;
    width: 100%;
    padding: 0 40px;
    background-color: blue;
}
.swipe-content {
    margin: 0 40px;
    background-color: red;
}

.pagination {
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}
// .swipe-btn {
//     align-items: center;
//     background: #4bff20;
//     border: 1px solid transparent;
//     cursor: pointer;
//     display: inline-flex;
//     justify-content: center;
//     min-width: 144px;
//     position: relative;
// }
.next:after {
    @include v.arrow(v.$secondcolor, right);
    position: absolute;
}
.prev:after {
    @include v.arrow(v.$secondcolor, left);
}
.swipe-btn {
    align-items: center;
    background: #4bff20;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    min-width: 144px;
    position: relative;
    width: 100%;
    height: 100%;
  }
