@use "default" as v;
section.projets {
    overflow: hidden;
}
.section-title {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    font-size: 2rem;
    width: 100vw;
    -webkit-text-stroke: 1px v.$lightstroke;
    font-family: v.$font-title;
}
.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    width: 100%;
    max-width: 100vw;
}
.sliders-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 100vw;
}
.swipe-content{
    overflow: hidden;
    margin: 1rem;
    width: auto;
    max-width: 1500px;
}
.slides{
    background: linear-gradient(v.$lightstroke, v.$primecolor);
    border-radius: 20px 20px 10px 10px;
    border: 1px solid rgba(84, 190, 220, 0.5);
    box-shadow: 0 0 5px v.$lightstroke;
}
.img-container,
.projets-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-container {
    position: relative;
    padding: 1.6rem 0;
    height: 12rem;
    width: 80%;
    margin: auto;
}
.img-content {
    background-color: #FFF;
    border: 2px solid v.$lightstroke;
    padding: 3px;
    transition: 0.3s;
    border-radius: 10px;
}
.img-content:hover {
    transform: skew(5deg, 5deg);
}
.img-container .img-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.titre {
    padding-top: 1rem;
    font-family: v.$font-title;
    font-size: 2rem;
    -webkit-text-stroke: v.$lightstroke;
}
.mini {
    margin: 1.5rem;
    height: 15vh;
}
.slide-btn {
    position: relative;
    padding: 50px;
}
.projet-btn {
    border: 1px solid v.$lightstroke;
    box-shadow: v.$neonshadow;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: v.$primecolor;
    color: v.$secondcolor;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    position: relative;  
    &:hover {
        opacity: 0.8;
    }
}
